* {box-sizing: border-box;
text-decoration: none;
outline: none;}

:root {
    --primary: rgb(63, 171, 185); 
    --secondary: rgb(0, 0, 0);
    --tertiary: rgba(128, 128, 128, 0.644);
    --fourth: rgb(255, 255, 255);
    --red: rgb(146, 28, 28);
    --backgroundboxes: rgb(207, 104, 7);


}

body{
    background-color: var(--tertiary);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-image: url(./img/borderimage.jpeg);
    margin: 0;
    padding: 0;
    background-position:bottom ;
    background-size: contain;
}

header{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(11,11,142,1) 27%, rgba(0,212,255,1) 100%);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
header h1 {
    background-color: var(--primary);
    font-weight: 500;
    font-size: 100px;
    color:  var(--red);
    margin-left: 10% ;
    padding: 1%;  
    text-align: center; 
    flex: 0 0 40%;   
}

header nav {
    font-weight: 500;
    font-size: 30px;
    color: var(--secondary);
    margin: auto ;
    padding: 1%; 
    background-color: var(--secondary);
    justify-content: center;
    flex: 0 0 20%;
    

}
header nav ul{
    list-style-type: none;
    margin: auto;
    text-align: center;
}

nav:hover {
    background-color: aqua;
}

header nav ul li {
    display: inline-block;
}

.background-wrap{
    background-image: url(./img/backgroundsection.jpg);
    background-size: cover;
    background-position: center;
    background-blend-mode: soft-light;
    min-height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: right;
}


.background-wrap div {
    margin: 30px;
    padding: 5px 10px;
    font-size: 50px;;
    line-height: 1.2;
    display: inline;
    background-color: var(--tertiary);

}

.mainbox{
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--fourth);
    margin-top: 0px;
    margin-bottom: 45px;
  
}

.pagesection{
  padding: 10px;
  display: flex;
  flex-direction: row;
  min-height: 400px;
  margin: auto;
  flex-wrap: wrap;

}
.page-section > h2 {
    flex: 1 0 30%;
    text-align: right;
    justify-content: center;
  }
  
  
  .pagesection div p {
      font-size: 30px;
      padding: 2% 0 0 2%
  }
.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    flex: 0 0 90%;
    margin-left: 6%;
    padding: 3%;
}

.flex-item {
    flex: 0 0 20%;
    border: 5px solid var(--tertiary);
    background-color: var(--backgroundboxes);
    color: var(--secondary);
    min-height: 150px;
    max-height: 150px;
    display: flex;
    align-items: center;
    flex: 1 0 33%;
    justify-content: space-between;
    text-decoration: none;
    background-blend-mode: soft-light;
    transition: all 0.5s;
    font-size: 20px;
    padding: 2%;
  }

  .photocontainer {
   
  
    align-items: center;
    margin: auto;
    justify-content: center;
  }
.myphoto {
    height: 300px;
    width: auto;
    margin: auto;
    justify-content: center;
   
}

.flex-item:hover {
    background-color: rgb(214, 214, 214);
    background-blend-mode: soft-light;
}


.portfolio {
    display: flex;
    flex-direction: row;
}


.pagesectioncontact {
    padding: 10px;
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: center;
}

.pagesectioncontact>h2 {
    text-align: center;
}

.container1 {
    font-size: 25px;
    border: 3px solid black;
    justify-content: center;
}

.container1 address {
    border: 3px solid black;
    padding: 1%;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.container1 a{
    border-left: 1px solid black;
    border-right: 1px solid black;
    padding: 1%;
}

.container1 address a:hover{
    background-color: rgb(214, 214, 214);
    background-blend-mode: soft-light;
}


@media screen and (max-width: 768px) {
    header {
      flex-direction: column;
    }
  
  }